# Directorios de compilación y artefactos de Maven
target/
!*/target/classes/  # Excepción: si necesitas algunos recursos

# Archivos generados y logs
*.log
*.jar
*.war
*.zip
*.rar

# Entornos de desarrollo / IDEs (VS Code, IntelliJ, etc.)
.idea/
.vscode/
*.iml
.DS_Store